<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Kuware Assignment</title>
</head>
<body>
<ul>
    <% topics.forEach((topic)=>{ %>
      <% Object.keys(topic).forEach((key,k)=>{ %>
      <% if(k>0) {%>
       <li> <%= key %></li>
        <% let array = String(topic[key]).split(',') %>
        <ul>
          <% array.forEach((elem)=>{ %>
            <li><%= elem %></li>
          <% }) %>
        </ul>
        <% } %>
      <% }) %>
    <% }) %>
</ul>
</body>

</html>